<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="//releases.flowplayer.org/6.0.4/skin/minimalist.css">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//releases.flowplayer.org/6.0.4/flowplayer.min.js"></script>
  <script type='text/javascript' src='http://code.jquery.com/jquery-1.4.4.min.js'></script>
<script type='text/javascript'>//<![CDATA[ 


 $(document).ready(function () {
            document.oncontextmenu = document.body.oncontextmenu = function () { return false; }
        });

 
</script>
</head>

<body>
  <div class="flowplayer" data-ratio="0.40">
    <video >
      
      <source type="video/mp4"
              src=<%="http://localhost:3000/videos/#{@content_path}.mp4"%>>
      </video>
  </div>
</body>