<!DOCTYPE html>

<head>

<script type='text/javascript'>//<![CDATA[ 


 $(document).ready(function () {
            document.oncontextmenu = document.body.oncontextmenu = function () { return false; }
        });

 
</script>
</head>

<body>

<embed src="<%="http://localhost:3000/videos/#{@content_path}"%>.pdf#toolbar=0&navpanes=0&scrollbar=0" width="800" height="800">

</body>